name: Build and Push to ECR

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push:
    # Run on any branch push only when commit message contains trigger keyword.
    if: ${{ contains(github.event.head_commit.message, '[build]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC assume role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-2
          role-session-name: github-actions-backend

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set Short SHA
        id: vars
        run: |
          full_sha=${{ github.sha }}
          short_sha="${full_sha:0:7}" # Extract the first 7 characters
          echo "short_sha=$short_sha" >> "$GITHUB_OUTPUT" # Set as an output

      - name: Set image tag 
        id: image-tag
        run: |
         "short_sha=${{GITHUB_SHA::7}}" 
         "image_tag=${{ github.event.repository.name }}:${short_sha}" >> "$GITHUB_OUTPUT"

      - name: Build and push image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_REPO_NAME: kube-rca-ecr
          IMAGE_NAME: backend
        run: |
          docker build -t "$ECR_REGISTRY/$IMAGE_REPO_NAME:${{ steps.image-tag.image_tag }}" .
          docker push "$ECR_REGISTRY/$IMAGE_REPO_NAME:${{ steps.image-tag.image_tag }}"