name: Build and Push to ECR

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push:
    # Run on any branch push only when commit message contains trigger keyword.
    if: ${{ contains(github.event.head_commit.message, '[build]') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC assume role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-2
          role-session-name: github-actions-backend

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tag (backend:{short_sha})
        id: vars
        run: echo "short_sha=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Build and push image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_REPO_NAME: kube-rca-ecr
          IMAGE_TAG: "backend:${GITHUB_SHA::77}"
        run: |
          docker build -t "$ECR_REGISTRY/$IMAGE_REPO_NAME:${IMAGE_TAG}" .
          docker push "$ECR_REGISTRY/$IMAGE_REPO_NAME:${IMAGE_TAG}"